main {
    display: flex;
    flex-direction: row;
}

#top-nav {
    display: flex;
    height: 80px;
    border: 1px black;
    background: lightblue;
}

#left-nav {
    display: flex;
    width: 100px;
    border: 1px black;
    background: lightgrey;
}